body {
	background: black;
	--main-text-color: #fafafa;
	--secondary-text-color: #e3e3e3;
	--red-color: #ba2b2b;
	--blue-color: #2d3275;
	--dark-green-color: #3b692d;
	--orange-color: #c4781b;
	--card-color: #f7f4e9;
	--green-color: #58d638;
	margin: 0;
	display: block;
	font-family: "Roboto Mono", monospace;
	color: var(--main-text-color);
}
#header-wrap {
	height: 50px;
	display: flex;
	padding: 10px 20px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	z-index: 2;
}
#content-wrap {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}
#cards-wrap {
	margin: 0;
	width: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 90px;
	min-height: calc(100vh - 150px);
}
#logo-image {
	height: 100%;
	width: auto;
}
#logo-link {
	width: 90px;
	flex-basis: 1;
	min-width: 0;
	overflow-x: visible;
}
#header-title {
	font-size: 26px;
	line-height: 170%;
	height: 100%;
	margin: 0 0 0 20px;
}
.card {
	background: var(--card-color);
	border: none;
	border-radius: 15px;
	outline: none;
	max-width: 60%;
	min-width: 160px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.card-sizer {
	width: 100%;
	padding-bottom: 140%;
}
.card-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	mask-repeat: no-repeat;
	mask-size: 100% auto;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 100% auto;
}
.player-card {
	margin: 0;
	transition: 0.2s ease-in-out;
	transform: none;
}
.clickable-card {
	cursor: pointer;
}
.clickable-card:hover {
	transform: translateY(-30px);
}
.selected-card {
	transition: 0.2s ease-out;
	transform: translateY(-60px);
}
.unselected-card {
	opacity: 0.7;
}
.flip-card {
	background-color: var(--card-color);
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
	border-radius: 15px;
	opacity: 1;
}
.active-flipped {
	transform: rotateY(180deg);
}
.animated-card {
	animation-name: remove-card;
	animation-duration: 1.5s;
	transition: opacity 0.5s transform 0.5s ease-out;
}
.computer-card {
	margin: auto;
	perspective: 1000px;
	background-color: transparent;
	position: relative;
}
#computer-card-text {
	position: absolute;
	top: 0;
	margin: 0;
}
#computer-card-image {
	position: absolute;
	top: 0;
	margin: 0;
}
@keyframes remove-card {
	from {
		transform: translateY(0);
		opacity: 1;
	}

	30% {
		transform: translateY(0);
		opacity: 0;
	}

	50% {
		transform: translateY(-400px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
#card-back-image {
	mask-image: url("imgs/card-back.svg");
	-webkit-mask-image: url("imgs/card-back.svg");
	background: var(--blue-color);
	background: linear-gradient(160deg, var(--blue-color) 0%, #37478c 100%);
}
.rock-image {
	mask-image: url("imgs/rps/rock.svg");
	-webkit-mask-image: url("imgs/rps/rock.svg");
	background: var(--blue-color);
	mask-size: 110% auto;
	mask-position: 50% 50%;
	-webkit-mask-size: 110% auto;
	-webkit-mask-position: 50% 50%;
}
.paper-image {
	mask-image: url("imgs/rps/paper.svg");
	-webkit-mask-image: url("imgs/rps/paper.svg");
	background: var(--dark-green-color);
}
.scissors-image {
	mask-image: url("imgs/rps/scissors.svg");
	-webkit-mask-image: url("imgs/rps/scissors.svg");
	background: var(--red-color);
}
.card-front {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(0deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
.card-back {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
#player-hand {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	gap: 25px;
}
#computer-wrap {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	gap: 20px;
}
.card-text {
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 120px;
	color: black;
	font-weight: bolder;
	margin: 0;
}
.red-text {
	color: var(--red-color);
}
.blue-text {
	color: var(--blue-color);
}
#pyotr-info {
	display: block;
	width: 200px;
	margin-top: -15px;
}
#pyotr-title {
	color: var(--main-text-color);
	font-weight: bold;
	margin: 5px 10px 0 15px;
	font-size: 18px;
}
#pyotr-text {
	color: var(--secondary-text-color);
	margin: 5px 10px 0 15px;
	font-size: 12px;
}
#pyotr {
	width: 200px;
	height: 140px;
	position: relative;
}
.pyotr-face {
	background: var(--green-color);
	mask-repeat: no-repeat;
	mask-size: 150% auto;
	mask-position: 50% 0;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 150% auto;
	-webkit-mask-position: 50% 0;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
}
#face-0 {
	mask-image: url("imgs/pyotr/pyotr0.svg");
	-webkit-mask-image: url("imgs/pyotr/pyotr0.svg");
}
#face-1 {
	mask-image: url("imgs/pyotr/pyotr1.svg");
	-webkit-mask-image: url("imgs/pyotr/pyotr1.svg");
}
#face-2 {
	mask-image: url("imgs/pyotr/pyotr2.svg");
	-webkit-mask-image: url("imgs/pyotr/pyotr2.svg");
	display: block;
}
#face-3 {
	mask-image: url("imgs/pyotr/pyotr3.svg");
	-webkit-mask-image: url("imgs/pyotr/pyotr3.svg");
}
#face-4 {
	mask-image: url("imgs/pyotr/pyotr4.svg");
	-webkit-mask-image: url("imgs/pyotr/pyotr4.svg");
}
#score-wrap {
	display: block;
	text-align: center;
	margin: 15px 0 0 0;
	width: 200px;
}
#score-text {
	color: var(--main-text-color);
	font-weight: bolder;
	font-size: 80px;
	margin: 0;
	height: 100px;
}
#round-text {
	margin-bottom: 15px;
}
.small-text {
	color: var(--secondary-text-color);
	font-size: 16px;
	margin: 0;
}
